.headshot{
  width:350px;
  display:block;
  justify-content:center;
  transform:rotate(90deg);
  margin-left:auto;
  margin-right:auto;
  position:block;
}
.navbar{
  background-color:black;
  color:white;
  font-size:30px;
  display:flex;
  justify-content:space-around;
  position:-webkit-sticky;
  position:sticky;
  top:0;
  width:100%;
  z-index:10;
}
#mid{
  font-size:50px;
  margin-top:10px;
  margin-bottom:10px;
  text-align: center;
  padding-top:5%;
}
.contact{
  display:flex;
  justify-content:space-around;
  background-color:black;
  font-size:30px;
}
.web{
  color:white;
  position:-webkit-sticky;
  position:sticky;
}
h1{
  text-align: center;
}
.me{
  font-size: 40px;
}
.project1{
  display:flex;
  font-size:30px;
}
.project2{
  display:flex;
  font-size:30px;
}
.project3{
  display:flex;
  font-size:30px;
}
.project4{
  display:flex;
  font-size:30px;
}
.gamerow1{
  display: flex;
  justify-content:center;
}
.gamerow2{
  display: flex;
  justify-content: center;
}
.gamerow3{
  display: flex;
  justify-content: center;
}
.gamerow4{
  display: flex;
  justify-content: center;
}
.gamerow5{
  display: flex;
  justify-content: center;
}
.gameimg{
  width:100%;
}
.projectlinks{
  color:black;
}
a{
  text-decoration: none;
}
a:hover{
  color:red;
}
.imglink{
  width:20%;
}
.projectimg{
  width:20%;
}