.rowheader{   

    background-color:black;
    color:white;
    font-size:30px;
    display:flex;
    justify-content:space-around;
}
.rowmid{
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
    text-align: center;
}
#headshot{
  width:350px;
  transform:rotate(90deg);
  text-align:center;
}
.aboutme{
    border:1px solid black;   
}
.rowfooter{
text-align:center;
}
.rowcontact{
  display:flex;
  justify-content:space-around;
  background-color:black;
  font-size:30px;
}
a{
  color:white;
}
h1{
  text-align: center;
}
.me{
  font-size: 40px;
}
.projectNames{
  background-color:black;
  font-size:30px;
  text-align:center;
}